# Ignore secrets and sensitive files
**/newrelic/values.yaml
**/secrets/secrets.yaml
*.log
#.env
# Node modules and build output
react-crud-app/node_modules/
react-crud-app/build/
# Python
__pycache__/
*.pyc
# Dotnet
application/dotnet/bin/
application/dotnet/obj/
# VSCode
.vscode/
cluster-admin.sh
test.md
newrelicAIOps.txt