---
apiVersion: v1
kind: Secret
metadata:
  name: ai-secrets
  namespace: default
type: Opaque
data:
  openai-api-key: "" # OpenAI API key base64 encoded
---
apiVersion: v1
kind: Secret
metadata:
  name: newrelic-license-key
type: Opaque
data:
  NEW_RELIC_LICENSE_KEY: "" # NewRelic license key base64 encoded